---
import { Icon } from "astro-icon/components";

interface NavLink {
  link: string;
  href: string;
}
interface Props {
  developerName?: string;
  hamburgerIcon?: string;
  links?: NavLink[];
}

const {
  developerName = "Shammas",
  hamburgerIcon = "text-align-justify",
  links = [
    { link: "work", href: "/work/" },
    { link: "about", href: "/about/" },
    { link: "services", href: "/services/" },
    { link: "contact", href: "/contact/" },
  ],
} = Astro.props as Props;

const pathname = Astro.url.pathname;
const isActiveRoute = (target: string) => pathname === target;
---

<header
  class="grid grid-cols-3 md:grid-cols-2 justify-between items-center px-8 md:px-64 py-10 bg-white border-b border-y-neutral"
>
  <Icon name={hamburgerIcon} size={20} class="md:hidden cursor-pointer" />
  <nav class="flex flex-row items-center gap-1">
    <h1
      class="uppercase text-center md:text-left font-bold text-xl md:text-3xl"
    >
      <a href="/">{developerName}</a>
    </h1>
    <div
      class="size-6 rounded-full animate-pulse duration-75 ease-out bg-tertiary"
    >
    </div>
  </nav>
  <nav class="hidden md:block">
    <ul
      class="flex flex-row justify-end items-center gap-6 font-medium text-neutral"
    >
      {
        links.map((link) => (
          <li
            class={`${isActiveRoute(link.href) ? "text-primary" : ""} capitalize cursor-pointer`}
          >
            <a href={link.href}>{link.link}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
