---
import { Icon } from "astro-icon/components";
---

<header
  class="grid grid-cols-3 justify-between items-center px-8 py-10 bg-white border-y border-y-primary"
>
  <Icon name="text-align-justify" size={20} class="md:hidden cursor-pointer" />
  <h1 class="uppercase text-center">SHAMMAS</h1>
  <nav>
    <ul class="flex flex-row items-center gap-1.5">
      <li><a href="">Work</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Services</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
</header>
